

body{
    font-family: 'Circular Std', sans-serif;
    color: var(--text-color);
}

:root{
    --first-color:#3e70ee;
    --button-hover-color: #2c60e4;
    --text-color: rgb(56, 56, 56);
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0rem;
    margin-top: -10px;
}
#nav div{
    display: flex;
    align-items: center;
    gap: 20px;
}

#nav p{
    border-radius: 50%;
    background-color: rgb(53, 53, 53);
    padding: 10px 14px;
    color: white;
    font-weight: bold;

}

#nav button{
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--first-color);
    color: white;
    transition: all 0.2s;
    font-size: 15px;
}
#task-button{
    display: flex;
    justify-content: right;
    padding: 15px;
 
}
#task-button button{
    padding: 5px 15px;
    border-radius: 15px;
    border: 1px solid var(--text-color);
    background-color: rgb(216, 216, 216);
    transition: all 0.3s;

}
#task-button button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

#nav button:hover{
    cursor: pointer;
    background-color: var(--button-hover-color);
    
}

#Dashboard{
    border-top: 1px solid;
    display: flex;

}
#Dashboard> div{
    border-right: 1px solid var(--text-color);
}

#sidebar{
    position: relative;
    left: 0;
    max-width: 20%;
    min-width: 20%;
    
}
#sidebar+div{
    display: flex;
    width: 100%;
    
}
#sidebar>:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sidebar>:first-child{
    padding: 0px 5px;
}

.thead{
    font-weight: bold;
    height: 10px;
    margin: 0px 10px;
    width: 100%;
}
#sprints{
    padding: 5px 10px;
}

.thead+button{
    background-color: var(--first-color);
    border: none;
    color: white;
    padding: 5px 8px;
  
    transition: all 0.2s;
}

#sprintCard{
    display: flex;
    padding: 0px 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.3s;
}

#sprintCard:hover{
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}

.delete-sprint{
    background-color: var(--first-color);
    border: none;
    color: white;
    padding: 5px 8px;
    transition: all 0.2s;
}

.delete-sprint:hover{
    background-color: var(--button-hover-color);
    cursor: pointer;
}

#task-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 10px;
    gap: 20px;
}

.Cards{
    display: flex;
    align-items: left;
    padding: 10px;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}

.Cards p{
    text-align: justify;
    width: 75%;
    margin-top: -0.5rem;
}



#in-Progress{
    padding: 0px 15px;
}

